<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pages</key>
	<array>
		<dict>
			<key>PageContentDir</key>
			<string>cover</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page1y2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page4</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page5</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page6</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page7</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page8</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page9</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page10</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page11</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page12</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page13</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page14</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page15</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page16</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page17</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page18</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page19</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page20y21</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page22</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page23</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>page24</string>
		</dict>
	</array>
	<key>VolumeName</key>
	<string>Volume 003</string>
</dict>
</plist>
