<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Release date</key>
		<date>2011-01-05T15:03:12Z</date>
		<key>ID</key>
		<string>ISSUE1_2011</string>
		<key>model</key>
		<dict>
			<key>mainMenu</key>
			<dict>
				<key>style</key>
				<string>mainMenu</string>
				<key>navigability</key>
				<string>mainMenu</string>
				<key>name</key>
				<string>costa</string>
				<key>class</key>
				<string>UIBaseView</string>
				<key>subviews</key>
				<array>
					<dict>
						<key>style</key>
						<string>barraTitulo</string>
						<key>class</key>
						<string>UIBaseView</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
					<dict>
						<key>isScaled</key>
						<string>true</string>
						<key>style</key>
						<string>portada_costa</string>
						<key>class</key>
						<string>ImageView</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>portada</string>
					</dict>
					<dict>
						<key>style</key>
						<string>icons_campamentos_scroll</string>
						<key>class</key>
						<string>UIComicCarousel</string>
						<key>name</key>
						<string>campamentos_carousel</string>
						<key>avatars</key>
						<array>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>ImageAvatar</key>
								<string>/Hitec/costa/costa.jpg</string>
								<key>NameAvatar</key>
								<string>Costa</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>1</string>
								<key>navigability</key>
								<string>sierra</string>
								<key>ImageAvatar</key>
								<string>/Hitec/sierra/sierra.jpg</string>
								<key>NameAvatar</key>
								<string>Sierra</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>2</string>
								<key>navigability</key>
								<string>selva</string>
								<key>ImageAvatar</key>
								<string>/Hitec/selva/selva.jpg</string>
								<key>NameAvatar</key>
								<string>Selva</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>navigability</key>
								<string>misCampamentos</string>
								<key>ImageAvatar</key>
								<string>/Hitec/mis_campamentos/mis_campamentos.jpg</string>
								<key>NameAvatar</key>
								<string>Mis mejores Campamentos</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>UIBaseView</string>
						<key>style</key>
						<string>info_costa</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
				</array>
			</dict>
			<key>sierra</key>
			<dict>
				<key>style</key>
				<string>mainMenu</string>
				<key>navigability</key>
				<string>mainMenu</string>
				<key>class</key>
				<string>UIBaseView</string>
				<key>subviews</key>
				<array>
					<dict>
						<key>style</key>
						<string>barraTitulo</string>
						<key>class</key>
						<string>UIBaseView</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
					<dict>
						<key>isScaled</key>
						<string>true</string>
						<key>style</key>
						<string>portada_sierra</string>
						<key>class</key>
						<string>ImageView</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>portada</string>
					</dict>
					<dict>
						<key>style</key>
						<string>icons_campamentos_scroll</string>
						<key>class</key>
						<string>UIComicCarousel</string>
						<key>name</key>
						<string>campamentos_carousel</string>
						<key>avatars</key>
						<array>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>navigability</key>
								<string>mainMenu</string>
								<key>ImageAvatar</key>
								<string>/Hitec/costa/costa.jpg</string>
								<key>NameAvatar</key>
								<string>Costa</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>1</string>
								<key>ImageAvatar</key>
								<string>/Hitec/sierra/sierra.jpg</string>
								<key>NameAvatar</key>
								<string>Sierra</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>2</string>
								<key>navigability</key>
								<string>selva</string>
								<key>ImageAvatar</key>
								<string>/Hitec/selva/selva.jpg</string>
								<key>NameAvatar</key>
								<string>Selva</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>navigability</key>
								<string>misCampamentos</string>
								<key>ImageAvatar</key>
								<string>/Hitec/mis_campamentos/mis_campamentos.jpg</string>
								<key>NameAvatar</key>
								<string>Mis mejores Campamentos</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>UIBaseView</string>
						<key>style</key>
						<string>info_sierra</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
				</array>
			</dict>
			<key>selva</key>
			<dict>
				<key>style</key>
				<string>mainMenu</string>
				<key>navigability</key>
				<string>mainMenu</string>
				<key>class</key>
				<string>UIBaseView</string>
				<key>subviews</key>
				<array>
					<dict>
						<key>style</key>
						<string>barraTitulo</string>
						<key>class</key>
						<string>UIBaseView</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
					<dict>
						<key>class</key>
						<string>ImageView</string>
						<key>isScaled</key>
						<string>true</string>
						<key>style</key>
						<string>portada_selva</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>portada</string>
					</dict>
					<dict>
						<key>style</key>
						<string>icons_campamentos_scroll</string>
						<key>class</key>
						<string>UIComicCarousel</string>
						<key>name</key>
						<string>campamentos_carousel</string>
						<key>avatars</key>
						<array>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>navigability</key>
								<string>mainMenu</string>
								<key>ImageAvatar</key>
								<string>/Hitec/costa/costa.jpg</string>
								<key>NameAvatar</key>
								<string>Costa</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>1</string>
								<key>navigability</key>
								<string>sierra</string>
								<key>ImageAvatar</key>
								<string>/Hitec/sierra/sierra.jpg</string>
								<key>NameAvatar</key>
								<string>Sierra</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>2</string>
								<key>ImageAvatar</key>
								<string>/Hitec/selva/selva.jpg</string>
								<key>NameAvatar</key>
								<string>Selva</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>navigability</key>
								<string>misCampamentos</string>
								<key>ImageAvatar</key>
								<string>/Hitec/mis_campamentos/mis_campamentos.jpg</string>
								<key>NameAvatar</key>
								<string>Mis mejores Campamentos</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>UIBaseView</string>
						<key>style</key>
						<string>info_selva</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
				</array>
			</dict>
			<key>misCampamentos</key>
			<dict>
				<key>style</key>
				<string>mainMenu</string>
				<key>navigability</key>
				<string>mainMenu</string>
				<key>class</key>
				<string>UIBaseView</string>
				<key>subviews</key>
				<array>
					<dict>
						<key>style</key>
						<string>barraTitulo</string>
						<key>class</key>
						<string>UIBaseView</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
					<dict>
						<key>class</key>
						<string>ImageView</string>
						<key>isScaled</key>
						<string>true</string>
						<key>style</key>
						<string>portada_misCampamentos</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>portada</string>
					</dict>
					<dict>
						<key>style</key>
						<string>icons_campamentos_scroll</string>
						<key>class</key>
						<string>UIComicCarousel</string>
						<key>name</key>
						<string>campamentos_carousel</string>
						<key>avatars</key>
						<array>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>navigability</key>
								<string>mainMenu</string>
								<key>ImageAvatar</key>
								<string>/Hitec/costa/costa.jpg</string>
								<key>NameAvatar</key>
								<string>Costa</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>1</string>
								<key>navigability</key>
								<string>sierra</string>
								<key>ImageAvatar</key>
								<string>/Hitec/sierra/sierra.jpg</string>
								<key>NameAvatar</key>
								<string>Sierra</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>2</string>
								<key>navigability</key>
								<string>selva</string>
								<key>ImageAvatar</key>
								<string>/Hitec/selva/selva.jpg</string>
								<key>NameAvatar</key>
								<string>Selva</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
							<dict>
								<key>IdAvatar</key>
								<string>0</string>
								<key>ImageAvatar</key>
								<string>/Hitec/mis_campamentos/mis_campamentos.jpg</string>
								<key>NameAvatar</key>
								<string>Mis mejores Campamentos</string>
								<key>UrlAvatar</key>
								<string>none</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>class</key>
						<string>UIBaseView</string>
						<key>style</key>
						<string>info_misCampamentos</string>
						<key>subviews</key>
						<array/>
						<key>name</key>
						<string>BarraTitulo</string>
					</dict>
				</array>
			</dict>
			<key>test_button</key>
			<dict>
				<key>flecha</key>
				<string>/edutic/wallpapers/flecha.png</string>
				<key>style</key>
				<string>test_button</string>
				<key>navigability</key>
				<string>test_button</string>
				<key>title</key>
				<string>test_</string>
				<key>class</key>
				<string>XboxBackView</string>
				<key>subviews</key>
				<array/>
			</dict>
		</dict>
	</dict>
</array>
</plist>
