<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>navigability</string>
		<key>Release date</key>
		<date>2011-01-05T15:03:07Z</date>
		<key>navigability</key>
		<dict>
			<key>about_InkaLeyend_View</key>
			<dict>
				<key>back</key>
				<string>mainMenu</string>
				<key>cuadro_rojo</key>
				<dict>
					<key>button_read</key>
					<dict>
						<key>link</key>
						<string>comicReader</string>
					</dict>
				</dict>
			</dict>
			<key>about_InkaPress_View</key>
			<dict>
				<key>back</key>
				<string>mainMenu</string>
				<key>cuadro_rojo</key>
				<dict>
					<key>button_read</key>
					<dict>
						<key>link</key>
						<string>comicReader</string>
					</dict>
				</dict>
			</dict>
			<key>about_volumen1_View</key>
			<dict>
				<key>back</key>
				<string>mainMenu</string>
				<key>cuadro_rojo</key>
				<dict>
					<key>button_read</key>
					<dict>
						<key>link</key>
						<string>comicReader</string>
					</dict>
				</dict>
			</dict>
			<key>about_volumen2_View</key>
			<dict>
				<key>back</key>
				<string>mainMenu</string>
				<key>cuadro_rojo</key>
				<dict>
					<key>button_read</key>
					<dict>
						<key>link</key>
						<string>comicReader</string>
					</dict>
				</dict>
			</dict>
			<key>mainMenu</key>
			<dict>
				<key>menu_scroll_view</key>
				<dict>
					<key>menu_avatars</key>
					<dict>
						<key>button_about</key>
						<dict>
							<key>link</key>
							<string>about_InkaLeyend_View</string>
						</dict>
					</dict>
					<key>menu_home</key>
					<dict>
						<key>button_about</key>
						<dict>
							<key>link</key>
							<string>about_InkaLeyend_View</string>
						</dict>
						<key>grid_1</key>
						<dict>
							<key>Image_1</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_11</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_12</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_13</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_14</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_15</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_16</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_17</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_18</key>
							<dict>
								<key>link</key>
								<string>publicity_View</string>
							</dict>
							<key>Image_2</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_3</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_4</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_5</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_6</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_7</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_8</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
						</dict>
					</dict>
					<key>menu_store</key>
					<dict>
						<key>button_about</key>
						<dict>
							<key>link</key>
							<string>about_InkaLeyend_View</string>
						</dict>
						<key>button_about_volumen1</key>
						<dict>
							<key>link</key>
							<string>about_volumen1_View</string>
						</dict>
						<key>button_about_volumen2</key>
						<dict>
							<key>link</key>
							<string>about_volumen2_View</string>
						</dict>
						<key>button_about_volumen3</key>
						<dict>
							<key>link</key>
							<string>about_volumen3_View</string>
						</dict>
						<key>grid_comics</key>
						<dict>
							<key>Image_1</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_10</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_11</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_12</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_13</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_14</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_15</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_16</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_17</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_18</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_19</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_2</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_20</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_3</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_4</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_5</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_6</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_7</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_8</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
							<key>Image_9</key>
							<dict>
								<key>link</key>
								<string>comicReader</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>publicity_View</key>
			<dict>
				<key>back</key>
				<string>mainMenu</string>
				<key>cuadro_rojo</key>
				<dict>
					<key>button_read</key>
					<dict>
						<key>link</key>
						<string>comicReader</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</array>
</plist>
