<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>style</string>
		<key>Release date</key>
		<date>2011-01-05T15:03:11Z</date>
		<key>style</key>
		<dict>
			<key>content_listCosta</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,321}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>losCampamentos_scroll</key>
			<dict>
				<key>FontSizeTitleAttribute</key>
				<array>
					<string>17</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>FontTitleAttribute</key>
				<array>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Bold</string>
					<string>HelveticaNeue-Bold</string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,73},{375,594}}</string>
					<string>{{0,0},{375,594}}</string>
					<string>{{0,0},{375,594}}</string>
					<string>{{0,0},{375,594}}</string>
				</array>
				<key>TitleHeightAttribute</key>
				<array>
					<string>{{0,200},{375,73}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>TitleSelectedColorAttribute</key>
				<array>
					<string>{{201,44},{9,1}}</string>
					<string>{{0,0},{0,0}}</string>
					<string>{{201,44},{9,1}}</string>
					<string>{{201,44},{9,1}}</string>
				</array>
				<key>TitleUnselectedColorAttribute</key>
				<array>
					<string>{{129,129},{129,1}}</string>
					<string>{{0,0},{460,320}}</string>
					<string>{{129,129},{129,1}}</string>
					<string>{{129,129},{129,1}}</string>
				</array>
			</dict>
			<key>costa_scroll</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,73},{375,667}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>sierra_scroll</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{375,73},{375,667}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>selva_scroll</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{750,73},{375,667}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>misCampamentos_scroll</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{1125,346},{375,321}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>info_costa</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/costa/costa_fondo.jpg</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,273},{375,321}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>info_sierra</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/sierra/sierra_fondo.jpg</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,273},{375,321}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>info_selva</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/selva/selva_fondo.jpg</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,273},{375,321}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>info_misCampamentos</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/fondoblanco.png</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,273},{375,321}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>icons_campamentos_scroll</key>
			<dict>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,273},{375,73}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>FrameItemAttribute</key>
				<array>
					<string>{{0,0},{94,73}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>portada_misCampamentos</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/fondoselec.png</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,200}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>portada_selva</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/selva/selva_port.jpg</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,200}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>portada_sierra</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/sierra/sierra_port.jpg</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,200}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>portada_costa</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/costa/costa_port.jpg</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,200}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>mainMenu</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,667}}</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
			</dict>
			<key>barraTitulo</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/header4.png</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,73}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>test_button</key>
			<dict>
				<key>FontColorTitleAttribute</key>
				<array>
					<string>{{0,0},{320,460}}</string>
					<string>{{0,0},{460,320}}</string>
					<string>{{128,128},{128,1}}</string>
					<string>{{128,128},{128,1}}</string>
				</array>
				<key>FontSizeTitleAttribute</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>28</string>
					<string>28</string>
				</array>
				<key>FontTitleAttribute</key>
				<array>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{640,1136}}</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/edutic/floatView.png</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
		</dict>
	</dict>
</array>
</plist>
