<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>style</string>
		<key>Release date</key>
		<date>2011-01-05T15:03:11Z</date>
		<key>style</key>
		<dict>
			<key>mainMenu</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/edutic/home/fondomuro.jpg</string>
					<string>/edutic/home/fondomuro.jpg</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,667}}</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
			</dict>
			<key>barraTitulo</key>
			<dict>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/Hitec/header4.png</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{375,73}}</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>test_button</key>
			<dict>
				<key>FontColorTitleAttribute</key>
				<array>
					<string>{{0,0},{320,460}}</string>
					<string>{{0,0},{460,320}}</string>
					<string>{{128,128},{128,1}}</string>
					<string>{{128,128},{128,1}}</string>
				</array>
				<key>FontSizeTitleAttribute</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>28</string>
					<string>28</string>
				</array>
				<key>FontTitleAttribute</key>
				<array>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
					<string>HelveticaNeue-Light</string>
				</array>
				<key>FrameAttribute</key>
				<array>
					<string>{{0,0},{640,1136}}</string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>ImageBackgroundColorAttribute</key>
				<array>
					<string>/edutic/floatView.png</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
		</dict>
	</dict>
</array>
</plist>
